<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Application" type="Models.ApplicationSettingsSection, Models"/>
    <section name="Clients" type="Models.ClientSection, Models"/>
  </configSections>
  
  <Application>
    <ApplicationSettings>
      
      <ApplicationSetting
         Name="ServiceName"
         Description="The Name of Windows Service"
         Value="Open Industry Base Service"/>
      
      <ApplicationSetting
         Name="PollTimeSeconds"
         Description="The Windows Service Job Reapeat (Poll) Time in Seconds"
         Value="5" />

    </ApplicationSettings>
  </Application>

  <Clients>
    <ClientSettings>
      <Client
         MachineId="1"
         MachineName="Machine1"/>

      <Client
         MachineId="3"
         MachineName="Machine3"/>
    </ClientSettings>
  </Clients>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  
</configuration>
